@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

html {
  scroll-behavior:smooth;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

#nav {
  transition:all 0.6s ease;
}

#hero{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.active-scroll-spy {
  color:rgb(59 130 246);
  font-weight:600;
}

#scroll-top-button {
   animation-name:scrollTopAnimate;
   animation-duration:1.3s;
   animation-timing-function:ease-in;
   animation-iteration-count:infinite;
   animation-fill-mode: both;
}

@keyframes scrollTopAnimate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0);
  }
}